.product-detail {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px 20px;
  max-width: 1300px;

  .card {
    padding: 1rem;
    margin-top: 1rem;
  }
  .review {
    border-top: 1px solid #ccc;
  }
}

.product-details {
  padding-top: 2rem;
  display: flex;

  &__img {
    width: 45%;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }

  &__content {
    width: 55%;
    margin: 0 50px;

    .count {
      display: flex;
      align-items: center;
    }

    .count > p {
      font-size: 10px;
      padding-left: 10px;
      color: #737272;
    }

    .count > p > span {
      color: orange;
    }
  }

  &__content > h3 {
    margin-bottom: 10px;
  }

  &__description {
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__price {
    border-top: #f5f3f3 1px solid;
    border-bottom: #f5f3f3 1px solid;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: none;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    color: black;
  }

  &__price > p {
    font-size: 12px;
    margin-top: 5px;
  }

  &__brand {
    margin-bottom: 15px;
    padding: 20px 0;
    border-bottom: #f5f3f3 1px solid;
    font-size: 20px;
    color: black;
  }

  &__incDec-btn {
    background-color: #eee;
    gap: 10px;
    display: flex;
    padding: 4px 15px;
    border-radius: 15px;
  }

  &__incDec-btn > p {
    display: flex;
    align-items: center;
    color: darkgreen;
    padding: 0px 10px;
  }

  &__incDec-btn > button {
    font-size: 20px;
    background: transparent;
    color: darkGreen;
    border: none;
    cursor: pointer;
  }

  .atc-btn {
    margin-bottom: 20px;
  }

  &__delivery {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #eee;
    margin-bottom: 10px;
  }

  &__delivery > .head {
    display: flex;
    gap: "10px";
    font-size: 10px;
  }

  &__delivery > div > .icon {
    font-size: 15px;
    color: orange;
    margin-right: 7px;
  }
  &__delivery > div > p {
    font-size: 12px;
    font-weight: 600;
    color: black;
  }

  &__delivery > p {
    font-size: 12px;
  }

  &__delivery > p > span {
    text-decoration: underline;
    cursor: pointer;
  }
}

.general-specifications {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;

  &__title {
    margin-bottom: 20px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #ccc;
    padding: 30px;
    border-radius: 4px;
  }

  &__row {
    display: flex;
    width: 100%;
    padding: 6px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 5px;
  }

  &__row:nth-child(even) {
    background-color: #ccc;
  }

  &__row-key {
    width: 50%;
    font-weight: 600;
    color: #2c2c2c;
  }
  &__row-value {
    width: 50%;
    font-weight: 300;
    color: black;
  }
}

.review {
  margin-top: 20px;
}

.review > span > b {
  font-size: 12px;
}

@media screen and (max-width: 1125px) {
  .product-details {
    &__delivery {
      width: 60%;
    }
  }
}
@media screen and (max-width: 975px) {
  .product-details {
    &__delivery {
      width: 75%;
    }
  }

  .general-specifications__table {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .product-details {
    display: flex;
    flex-direction: column;

    &__img {
      width: 100%;
      background-color: #eee;
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

    &__content {
      width: 80%;
      margin-top: 20px;
    }
  }
  .general-specifications__table {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .product-details__content {
    width: 80%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
