.checkout {
  width: 100%;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.summary-delivery-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.checkout-summary {
  max-height: 300px;
  border: 2px solid var(--color-grey);
  border-radius: 7px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 15px;
}

.checkout-summary::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.checkout-summary::-webkit-scrollbar-track {
  background: var(--primary-color); /* color of the tracking area */
}

.checkout-summary::-webkit-scrollbar-thumb {
  background: #8e8d8d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  width: 5px;
  border: none; /* creates padding around scroll thumb */
  transition: background 0.3s ease;
}

.delivery-info {
  margin-top: 20px;
}

.orderSummary {
  width: 40%;
  margin-left: 20px;

  &-wrap {
    border: 2px solid var(--color-grey);
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background: #fff;
    width: 100%;
  }

  &__coupon {
    margin-top: 15px;
    padding: 20px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  &__coupon-input-wrap {
    background: #f0eeee;
    padding: 3px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__coupon-input-wrap > input {
    border: none;
    background: #f0eeee;
    outline: none;
    padding-left: 5px;
    font-size: 12px;
    color: black;
    border-radius: 10px;
    text-transform: uppercase;
    max-width: 150px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
  }
  &__coupon-input-wrap > input::placeholder {
    color: #a7a6a6;
    text-transform: none;
  }
  &__coupon-input-wrap > button {
    margin: 0px 0px;
  }
  &__coupon-input-wrap > button:hover {
    transition: none;
    transform: none;
  }

  &__couponIsApplied {
    display: flex;
    font-size: 12px;
    color: #747373;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  &__couponIsApplied > .close {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-right: 7px;
    cursor: pointer;
  }

  &__couponIsApplied > .getOffer {
    color: #656464;
    font-weight: 600;
    font-size: 13px;
    margin-right: 3px;
  }

  &__payDetails {
    margin-top: 15px;
    width: 100%;
  }

  &__payDetails-title {
    color: black;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
  }

  &__payOptions {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__payOption {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    color: black;
  }

  &__payOption > p {
    color: black;
    font-size: 13px;
  }

  &__payOption > input {
    color: black;
    cursor: pointer;
  }

  &__debitCard > .logos {
    display: flex;
    gap: 5px;
  }

  &__debitCard > .logos > .logo {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4f4;
  }

  &__debitCard > .logos > .logo > img {
    width: 30px;
  }

  &__debitCard > .logos > .logo > img:last-child {
    width: 40px;
  }

  &__form-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__debit-form-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__flex {
    width: 100%;
    gap: 8px;
    display: flex;
    align-items: flex-end;
  }

  .--form-control > label,
  input {
    color: black;
    font-size: 13px;
  }

  &__upi > .logo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__upi > .logo > img {
    width: 100%;
  }

  &__upi .--form-control {
    margin-top: 0px;
  }

  &__cod > p {
    font-size: 13px;
    color: black;
  }

  &__cod > p > span {
    color: rgb(42, 149, 195);
    cursor: pointer;
  }

  &__totalAmount {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 23px;
  }

  &__subTotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__subTotal > .key,
  .value {
    font-size: 12px;
  }

  &__subTotal > .key {
    font-weight: 600;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #eee;
  }

  &__total > .total-key,
  .total-value {
    font-size: 12px;
    font-weight: 600;
  }

  form > button {
    font-size: 12px;
  }
}

@media screen and (max-width: "602px") {
  .checkout {
    flex-direction: column;
  }

  .summary-delivery-info {
    width: 100%;
  }
  .checkout-summary {
    width: 100%;
  }

  .delivery-info {
    width: 100%;
  }

  .orderSummary {
    width: 100%;
    margin-right: 10px;
    margin-left: 0px;
  }
  .orderSummary__coupon-input-wrap > button {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
  }

  .orderSummary-wrap {
  }
}
